body {
    color: #ffffff;
    place-items: center;
    display: grid;
    font-size: medium;
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr;
    /* background-image: url("./9-11.jpg"); */
    /* background-attachment: fixed; */
    margin: 10px 0px 10px 0px;
    padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #ffffff !important;
}

header {
    background-image: url("paper.avif");
    text-align: center;
    font-family: "American Typewriter";
    width: 100%;
}

header h1 {
    /* -webkit-text-stroke: 1px black; */
    text-shadow: 0px 0px 3px black;
    margin-top: 0px;
    padding-top: 20px;
}

#main-column {
    background-color: white;
    width: 65vw;
    /* border-radius: 4px; */
    overflow: hidden;
    /* border: 5px ridge black;
    box-shadow: 0px 0px 2px black; */
}

nav {
    background-color: black;
    padding: 8px;
}

#searchbar {
    width: 90%;
    color: black;
    padding: 20px 30px 10px 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

#selected-tags {
    /* background-color: red; */
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 1fr;
    align-self: start;
}

#toolbar {
    background-color: black;
    border-radius: 15px;
    color: white;
    margin: 15px;
    padding: 15px;
}

#sort-types {
    text-align: center;
}

.sort-type {
    cursor: pointer;
}

.sort-type:hover {
    text-decoration: underline;
}

#tag-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

#loc-filter {
    margin: 10px;
    min-width: 150px;
    max-width: 190px;
}

#search-results {
    color: black;
    padding: 20px 20px 20px 5px;
}

.search-thumb {
    width: 100%;
    margin-right: 8px;
}

.search-file {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
}

.search-file a,
.search-file a:link,
.search-file a:visited,
.search-file a:hover,
.search-file a:active {
    color: black !important;
    font-weight: bolder;
}

.file-header {
    line-height: 1.5;
}

.file-data {
    margin: 5px 0px 10px 0px;
}

.file-tags {
    margin: 5px 0px 10px 0px;
    line-height: 1.6;
}

.file-tag {
    text-decoration: dotted;
    background-color: bisque;
    color: black;
    padding: 2px;
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
}